.itemTitle {
    font-size: large;
    text-align: justify;
}

.workItemTitle {
    font-size: x-large;
    text-align: justify;
}

.itemSubtitle {
    font-size: 15px;
    text-align: justify;
    margin-top: 7px;
}

.dateTimeElement {
    color: white;
}

.tutorTimeElement {
    color: black;
    font-weight: bolder;
}

.itemHr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0%;
    margin-right: 0%;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.technologyTimeElement {
    margin-top: 3px;
    margin-bottom: -20px;
}

.sliderimg{
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #cfd8dc;
    border-width: 2px;
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.sliderimgzoomed {
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #cfd8dc;
    border-width: 2px;
    width: 100%;
    height: auto;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.8);
}

.sliderimgDesc {
    padding-left: 20px;
    font-weight: 100;
    font-size: small;
}